.btn {
    border-radius: 0;
    cursor: pointer;
    font-size: max(15px, 1.25vw);
    font-weight: 300;
    letter-spacing: .03em;
    padding: calc(var(--space-xsmall) / 1.5) var(--space-xsmall);
    transition: background-color .3s ease,
                color .3s ease;
}

.btn--primary {
    background-color: var(--color-primary);
    border: var(--color-primary) 2px solid;
    color: var(--color-white);
}

.btn--primary:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
}